{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
    <h1>Cart</h1>
    <div class="card">
        <div class="row mt-4 ml-1">
            {% for item in cart_items %}
                <div class="col-md-2">
                    <a href="{% url 'product' item.product.id %}" ><img class="product" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></a> 
                </div>
                <div class="col-md-4">
                    <h5>{{ item.product.name }}</h5>
                    <p class="product-description">{{ item.product.description }}</p><br/>
                </div>
                <div class="col-md-2">
                    <p>€{{ item.product.price }}</p>  
                </div>
                <div class="col-md-3">
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty </div>
                                <div class="input-group-addon ml-3 mr-3">{{item.quantity}}</div>
                                <input name="quantity" type="number" min="0" max="999" placement="{{item.quantity}}" class="form-control">
                            </div>
                        
                            <button type="submit" class="btn btn-primary ml-2"><span aria-hidden="true"><i class="fas fa-edit"></i></span></button>
                        </div> 
                    </form>          
                </div>                         
            {% endfor %}
        </div>
        <div class="col-md-4">
            <p style="font-size:1.3em; font-weight:bold;" aria-hidden="true">Total <span aria-hidden="true"></span>€{{ total }}</p>
        </div>
    </div> 
    <div class="row mb-5">
        <a href="#" class="btn btn-primary mt-3 mr-4" role="button"><span aria-hidden="true"></span><i class="fas fa-store"></i> &nbsp; Continue Shopping</a>
        <a href="#" class="btn btn-success mt-3" role="button"><span aria-hidden="true"></span><i class="fas fa-check-square"></i> &nbsp; Checkout</a>
    </div>

{% endblock content %}