<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://popit-images.s3-eu-west-1.amazonaws.com/game-of-thrones-slider.jpg" class="d-block w-100" alt="game of thrones slider image">
          </div>
          <div class="carousel-item">
            <img src="https://popit-images.s3-eu-west-1.amazonaws.com/star-wars-slider.jpg" class="d-block w-100" alt="star wars slider image">
          </div>
          <div class="carousel-item">
            <img src="https://popit-images.s3-eu-west-1.amazonaws.com/harry-potter-slider.jpg" class="d-block w-100" alt="harry potter slider image">
          </div>
        </div>
      </div>
<script>
    $('.carousel').carousel({
        interval: 1000
    })
</script>