{% extends 'base.html' %}
{% block content %}

<div class="row row-flex">
    <div class="col-md-6">
        <img class="product-large mb-4" src="{{ product.image.url }}" alt="{{ product.name }}">   
    </div>

    <div class="col-md-6">
        <h3>{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p>Price €{{ product.price }}</p>
        {% if product.stock < 3 and product.stock > 0 %}
            <p style="color:red; font-weight:bold;">Only {{ product.stock }} left in stock!</p>
        {% elif product.stock == 0 %}
            <p style="color:red; font-weight:bold;">This item is out of stock!</p>
        {% endif%}
        {% if product.stock > 0 %}
            <form method="post" action="{% url 'add_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        {% endif %}       
    </div>
</div>
{% endblock %}