{% extends 'base.html' %}
{% block content %}

<div class="row row-flex">
    <div class="col-md-6">
        <img class="product-large mb-4" src="{{ product.image.url }}" alt="{{ product.name }}">   
    </div>

    <div class="col-md-6">
        <h3>{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p>Price €{{ product.price }}</p>
        {% if product.stock < 3 and product.stock > 0 %}
            <p style="color:red; font-weight:bold;">Only {{ product.stock }} left in stock!</p>
        {% elif product.stock == 0 %}
            <p style="color:red; font-weight:bold;">This item is out of stock!</p>
        {% endif%}
        {% if product.stock > 0 %}
            <form method="post" action="{% url 'add_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        {% endif %}      
        <h5 class="mt-3">Rate Me</h5>
        <div class="rating mt-2">
            <button type="button" id="thumbsUp" class="btn thumbs btn-success mr-2" 
            data-loading-text=" ... "><i class="fas fa-thumbs-up"></i> <span id="up"> 1</span></button>


            <button type="button" id="thumbsDown" class="btn thumbs btn-danger" data-loading-text=" ... "><i class="fas fa-thumbs-down"></i> <span id="down"> 4</span></button>
        </div>
    </div>
</div>
{% endblock %}