/*

Dark Blue = #25436e;
Med Blue = #4e8cb3;
light Blue = #a8dadc
light = #f1faee
red = #e63946

*/
/* Navigation */
@import url('https://fonts.googleapis.com/css?family=Frijole|Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 20px;
}

.navbar, .dropdown-menu {
    background-color: #2f7dae;
    color: #f1faee;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgb(67, 67, 67);
    padding: 0;
  }

  .brand-title {
    color: #e63946;
    text-shadow: 1px 1px 1px #f1faee;
    font-family: 'Frijole', cursive;
    transform: rotate(-6deg);
    font-size: 2.3em;
  }
  
  a.nav-link {
    font-family: 'Open Sans', serif;
  }

  .btn-primary {
      background-color: #4174bd;
  }

  .btn-primary:hover {
    background-color: #4c7cbe;
    box-shadow: 2px 2px 2px #1d3557;
    font-weight: bold;
}

#carousel {
    margin-top: -20px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 22px 21px 17px 28px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 22px 21px 17px 28px rgba(0,0,0,0);    
}

footer {
    flex: 0 0 50px;
    margin-top: auto;
    background-color: #2f7dae;
    color: #f1faee;
    text-align: center;
    padding: 50px;
}

.social .fab{
    color: #f1faee;
    font-size: 1.2rem;
}

/********************************************** Products Page ***************************************************/

img.product {
    width: 100%;
}

.card-group {
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
}