{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PopIt! {% block title %}{% endblock title %}</title>
    {% block 'head_js' %} {% endblock %}
</head>

<body>
    <!-- NavBar -->
    {% include 'partials/_navbar.html' %}
    <div class="container">
        <!-- messages -->
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}
        <!-- search bar -->
        <div class="search-bar">
            <form action="{% url 'search' %}" method="GET" class="form-group"> 
            <div class="row">
                <!-- search by price -->
                <div class="col-md-4">
                    <select name="price" class="form-control">
                    <option name="price" selected="true" disabled="disabled"> By Price </option>
                        <option value="ascending"> price low-high</option>   
                        <option value="descending"> price high-low</option>   
                    </select>
                </div>            
                <!-- search by category -->
                <div class="col-md-4">
                    <select name="category" class="form-control">
                    <option name="category" selected="true" disabled="disabled"> By Category </option>
                    {% for product in products_all %}
                        <option value="{{ product.category.name }}">{{ product.category.name }}</option>   
                    {% endfor %}
                    </select>
                </div>
                <!-- search by title -->
                <div class="col-md-4">
                    <input type="text" name="q" placeholder=" By Title" class="form-control">
                </div>
                <button type="submit" class="btn-primary btn-block mt-5 pt-1 pb-1">Search</button>        
            </div>
            </form>
        </div>
        {% block content %} {% endblock content %}
    </div>
    {% include 'partials/_footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>